* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --black: #000000;
    --grey: #696B71;
    --darkgrey: #4c4444;
    --lightgrey: #aeb0b2;
    --darkblue: #141922;
    --white: #ffffff;
}
html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: var(--grey);
}
body {
    font-size: 0.8em;
    font-weight: bold;
}
ul {
    list-style-type: none;
}
li > a {
    white-space: nowrap;   
}
a {
    text-decoration: none;
    color: var(--grey);
}
h3 {
    color: var(--white);
}

/* utilities */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.float-left {
    float: left;
}
.inline-block {
    display: inline-block;
}
.display-flex {
    display: flex;
}

/* general container  */
.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* main with 2 col */
main {
    height: calc(100vh - 80px);
    overflow: auto;
}
.left-col {
    height: 100%;
    width: 200px;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
}
.right-col {
    height: 100%;
    width: calc(100% - 200px);
    background-color: blue;
}
/* left column */
.left-col > div {
    padding: 1.5em 1.5em 0;
}
.left-col .logo-container .logo-container-big {
    height: 3em;
    filter: invert(0);
}
.left-col .nav-list {
    margin: 1.6em 0;
}
.left-col .nav-list li {
    width: 2em;
    padding: 0.3em 0;
}
.left-col .nav-list li a {
    align-items: center;
}
.left-col img {
    filter: invert(42%) sepia(8%) saturate(269%) hue-rotate(187deg) brightness(97%) contrast(92%);
}

/* playlist list */
.playlist-container {
    flex-direction: column;
}
.playlist-container ul {
    /* overflow: auto; */
}
.playlist-container .add-playlist {
    padding: 1em 0;
}
.playlist-container .add-playlist a {
    align-items: center;
}
.playlist-container .add-playlist a .create-playlist {
    padding-left: 0.5em;
    font-size: 1.2em;
}
.playlist-container .add-playlist .square {
    height: 3em;
    width: 3em;
    background-color: var(--lightgrey);
}
.playlist-container .add-playlist .square span {
    margin: auto;
    font-size: 2.5em;
    color: var(--black);
}
.playlist-container ul li {
    padding: 0.8em 0;
}

/* lower column */
.lower-column {
    margin-bottom: 0.5em;
}
.lower-column .call-to-action a {
    align-items: center;
    padding-bottom: 0.8em;
    border-bottom: 1px solid var(--grey);
}
.lower-column .call-to-action a img{
    height: 1.2em;
}
.lower-column .user-selection a {
    align-items: center;
    color: var(--white);
    padding-top: 1.2em;
}
.lower-column span {
    padding: 0 1em;
}
.lower-column .user-selection img {
    height: 2em;
    width: 2em;
    background-color: var(--lightgrey);
    border-radius: 50%;
    filter: invert(0);
}





/* footer with navbar */
.nav {
    width: 100%;
    height: 80px;
    background-color: var(--darkgrey);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}