* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --black: #000000;
    --grey: #696B71;
    --darkgrey: #4c4444;
    --lightgrey: #aeb0b2;
    --darkblue: #141922;
    --white: #ffffff;
    --left-col-xs: 50px;
    --left-col-large: 200px;
}
html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: var(--grey);
}
body {
    font-size: 0.8em;
    font-weight: bold;
}
ul {
    list-style-type: none;
}
li > a {
    white-space: nowrap;   
}
a {
    text-decoration: none;
    color: var(--grey);
}
h3 {
    color: var(--white);
}

/* utilities */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.float-left {
    float: left;
}
.inline-block {
    display: inline-block;
}
.display-flex {
    display: flex;
}


/* general container  */
.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* main with 2 col */
main {
    height: calc(100vh - 100px);
    overflow: hidden;
}
.left-col {
    height: 100%;
    width: var(--left-col-large);
    min-height: 400px;
    background-color: black;
}
.right-col {
    height: 100%;
    width: calc(100% - var(--left-col-large));
    overflow: auto;
    background-color: var(--darkblue);
    padding-top: 110px;
}
/* MAIN left column */
.left-col > div {
    padding: 1.5em 0 0;
}
/* Upper column */
.upper-column {
    height: calc(100% - 100px);
    overflow: hidden;
}
/* logo */
.left-col .logo-container {
    padding-left: 1.6em;
}
.left-col .logo-container .logo-container-big {
    height: 3em;
    filter: invert(0);
}
.left-col a:hover > *,
.left-col a:hover {
    filter: invert(0);
    color: var(--white);
}
/* nav list */
.left-col .nav-list {
    margin: 1.6em 0;
    font-size: 0.8em;
}
.left-col .nav-list li {
    padding: 0.3em 0;
}
.left-col .nav-list li a {
    align-items: center;
    padding-left: 1.6em;
    width: 50%;
}
.left-col .nav-list li a img {
    height: 3em;
}
.left-col img {
    filter: invert(42%) sepia(8%) saturate(269%) hue-rotate(187deg) brightness(97%) contrast(92%);
}
.left-col .nav-list li a:hover {
    border-left: 3px solid greenyellow;
}

/* playlist list */
.playlist-container {
    height: 100%;
    padding-left: 1.6em;
}
.playlist-container .ul-container {
    height: calc(70% - 100px);
    overflow: auto;
}
.playlist-container .add-playlist {
    padding: 1em 0;
}
.playlist-container .add-playlist a {
    align-items: center;
}
.playlist-container .add-playlist a .create-playlist {
    padding-left: 0.5em;
    font-size: 1.2em;
}
.playlist-container .add-playlist .square {
    height: 3em;
    width: 3em;
    background-color: var(--lightgrey);
}
.playlist-container .add-playlist .square span {
    margin: auto;
    font-size: 2.5em;
    color: var(--black);
}
.playlist-container ul li {
    padding: 0.8em 0;
}
/* lower column */
.lower-column {
    height: 100px;
}
.lower-column .call-to-action a {
    align-items: center;
    padding-bottom: 0.8em;
    border-bottom: 1px solid var(--grey);
}
.lower-column .call-to-action a img{
    height: 1.2em;
}
.lower-column .user-selection a {
    align-items: center;
    color: var(--white);
    padding-top: 1.2em;
}
.lower-column span {
    padding: 0 1em;
}
.lower-column .user-selection img {
    height: 2em;
    width: 2em;
    background-color: var(--lightgrey);
    border-radius: 50%;
    filter: invert(0);
}

/* MAIN right column */
.right-col-header {
    height: 100px;
    width: calc(100% - var(--left-col-large));
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.right-col-header {
    justify-content: flex-end;
    align-items: center;
}
.right-col-header .upgrade-button {
    border: 1px solid var(--white);
    padding: 0.8em 2.6em;
    border-radius: 20px;
    margin-right: 2em;
    color: var(--white);
}
.right-col-header .upgrade-button:hover {
    transform: scale(1.1);
}



/* footer with navbar */
.nav {
    width: 100%;
    height: 100px;
    background-color: var(--darkgrey);
}
.nav-left-col,
.nav-right-col {
    min-width: 160px;
    width: 20%;
    height: 100%;
}
.nav-center-col {
    width: 60%;
    height: 100%;
}
.col-container {
    align-items: center;
    max-width: 180px;
    width: 100%;
    margin-left: 0.6em;
}
/* left column */
/* album container */
.nav-left-col .col-container .album-container {
    width: 80%;
}
.nav-left-col .col-container .album-container img {
    height: 3em;
}
.nav-left-col .col-container .album-container .album-name-container {
    margin-left: 0.6em;
    flex-direction: column;
    justify-content: center;
}
.album-container .album-name-container a:first-child {
    font-size: 0.8em;
    color: var(--white);
    display: block;
}
.album-container .album-name-container a:last-child {
    font-size: 0.7em;
}
/* preference container */
.nav-left-col .col-container .preference-container {
    width: 20%;
    justify-content: flex-end;
}
.nav-left-col .col-container .preference-container a {
    padding: 0 0.4em;
}







/* MEDIA QUERY */
@media screen and (max-width: 600px) {
    .left-col {
        width: var(--left-col-xs);
    }
    .right-col {
        width: calc(100% - var(--left-col-xs));
    }
    .right-col-header {
        width: calc(100% - var(--left-col-xs));
    }
}